*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.blue{
    background-color: #0078D4;
    color: white;
    font-weight: 600;
}

/* Header */

.navbar{
    height: 5.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.VScodelogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    height:2.75vh;
    width:2.75vh;
    background-size: cover;
    background-image: url("VScodeLogo.png");
}
.nav-logo-text{
    margin-left: 1.2vh;
    font-size: 1.25rem;
    font-weight: 700;
}
.navbar a{
    margin-left: 2.5vh;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.nav-left{
    padding-left: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-right{
    padding-right:33vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dark-mode{
    height:2.75vh;
    width:2.75vh;
    border: none;
    margin-right: 1vh;
    background-color: white;
}
.search-bar{
    width: 18vh;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.search-button{
    width: 10%;
    background-color: white;
    border: none;
    color:lightgray;
}
.search-input{
    width: 80%;
    height: 3vh;
    border: none;
}
.nav-download-button{
    font-size: 0.9rem;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
    height: 3vh;
    border: none;
    border-radius: 5px;
}
/* Body */
.update-banner{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.update-text{
    width: 90%;
}
.update-text a{
    color: #0078D4;
}
.cross-button{
    background-color: white;
    border:none;
}
.hero{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, white, rgb(252, 251, 251));
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image{
    background-image:url("MajorImage.png");
    background-size: cover;
    width: 89vh;
    height: 56.4vh;
}
.hero-text{
    height: 56.4vh;
    width: 25%;
}
.hero-text p{
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 66%;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 8vh;
}
.hero-text h1{
    margin-top: 3.5vh;
    font-size: 3.5rem;
    line-height: 7vh;
}
.body-download-button{
    margin-top: 4vh;
    padding: 3vh;
    width: 16vh;
    border: none;
    border-radius: 5px;
}
.links1{
    margin-top: 2vh;
    font-size: 0.95rem;
}
.links1 a{
    font-weight: 500;
    font-size: 0.95rem;
    color: #025da3;
}
.links2{
    margin-top: 2vh;
    font-size: 0.7rem;
}
.links2 a{
    font-weight: 500;
    font-size: 0.7rem;
    color: #0469b6;
}



.main-body{
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.body-text{
    width:25%;
}
.body-text h1{
    font-size: 2rem;

}
.body-text p{
    font-weight: 500;
    margin-top: 2vh;
    line-height: 25px;

}
.body-text a{
    font-weight: 500;
    color: #0469b6;
}
.body-list{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.list-el{
    display: flex;
    justify-content: start;
    align-items: center;
}
.list-el p{
    margin-left: 5px;
}
.img-el{
    height: 50px;
    width: 50px;
    background-size: cover;
}
#l1-img1{
    background-image: url("JSlogoVScode.png");
}
#l1-img2{
    background-image: url("TypescriptlogoVScode.png");

}
#l1-img3{
    background-image: url("PythonlogoVScode.png");

}
#l1-img4{
    background-image: url("C#logoVScode.png");

}
#l1-img5{
    background-image: url("C++logoVScode.png");

}
#l1-img6{
    background-image: url("HTMLlogoVScode.png");

}
#l1-img7{
    background-image: url("JavalogoVScode.png");

}
#l1-img8{
    background-image: url("JsonlogoVScode.png");

}
#l1-img9{
    background-image: url("PHPlogoVScode.png");

}
#l1-img10{
    background-image: url("MarkdownlogoVScode.png");

}
#l1-img11{
    background-image: url("PowershelllogoVScode.png");

}
#l1-img12{
    background-image: url("YamllogoVScode.png");

}
.list2-el{
    display: flex;
    justify-content:space-between;
    text-align: start;
    align-items: center;
    height: 10vh;
    width: 28vh;
    border: 0.5px solid lightgray;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}
.list2-text{
    margin-left: 20px;
}
.body-list2{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 10px;
}
.img-el2{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background-size:cover;
}
#l2-img1{
    background-image: url("python-extension.png");
}
#l2-img2{
    background-image: url("copilot-extension.png");
}
#l2-img3{
    background-image: url("c-extension.png");
}
#l2-img4{
    background-image: url("jupyter-extension.png");
}
#l2-img5{
    background-image: url("gitlens-extension.png");
}
#l2-img6{
    background-image: url("cs-dev-kit-extension.png");
}
#l2-img7{
    background-image: url("github-pull-requests-extension.png");
}
#l2-img8{
    background-image: url("github-pull-requests-extension.png");
}
#l2-img9{
    background-image: url("remote-extension.png");
}
#body2-end-text{
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
}
#body2-end-text a{
    color: #0078D4;
    font-size: 0.8rem;
}
.body-image1{
    background-image: url("copilot-image.png");
    background-size: contain;
    width: 99vh;
    height: 55vh;
}
.body-image2{
    background-image: url("customized-image.png");
    background-size: contain;
    width: 99vh;
    height: 55vh;
}
.body-image3{
    background-image: url("MajorImage.png");
    background-size: contain;
    width: 86vh;
    height: 55vh;
}
.heading-text{
    text-align: center;
    margin-top: 12vh;
}
.heading-text h1{
    font-size: 1.8rem;
}
.heading-text p{
    margin-top: 2vh;
    font-weight: 500;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    height: 4vh;
    padding-top: 10vh;
    padding-right: 30vh;
    padding-left: 30vh;
}
.footer i{
    margin-left: 3vh;
    font-size: large;
}
.footer-links{
    padding-top: 2vh;
    padding-bottom: 12vh;
    padding-right: 30vh;
    padding-left: 30vh;
}
.footer-links a{
    font-size: 0.8rem;
    margin-left: 14px;
    text-decoration: none;
    color: black;
}